<!DOCTYPE html>
<html lang="en-US" ng-app="trelloDash">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<script src="js/app.js"></script>

<head>
    <h1>TrelloDash</h1>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

</head>
<body>




<div ng-controller="getListsCtrl" style="border: solid">
    <ul>
        <li ng-repeat="list in lists">

            <p><b>List id:</b> {{ list.id }} </p>
            <p><b>List name:</b> {{list.name}} </p>

        <ul>
            <li ng-repeat="card in list.cards">
                <p><b>Card:</b> {{card.name}} </p>
            </li>
        </ul>
        </li>
    </ul>
</div>


<div ng-controller="getCardsCtrl" style="border: solid">
    <ul>
        <li ng-repeat="card in cardsOnList">

            <p><h4>{{card.name}}</h4></p>
            <p><b>Last Active Date:</b>{{ card.dateLastActivity }}</p>
            <button ng-click="openTab(card.url)"><b>Card Link:</b> View in Trello </button>

            <ul>
                <li ng-repeat="label in card.labels">
                    <span ng-class="label.color"><b>Status: {{label.name}}</b></span>

                </li>
            </ul>

            <body>
                Description: {{card.desc}}
            </body>
        </li>
    </ul>
</div>



</body>
</html> 